:root {
    --background-color: #f0f8ff;
    --background-image-color: #1e1e1e;
    --style-blue: #0077c2;
    --marked-blue: #005ea8;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

/* Header */

header {
    position: relative;
    background-color: var(--background-image-color);
    animation: gradient 10s ease infinite;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-image-color);
    margin: 0 300px;
}

.blue-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--style-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.text-container,
.title {
    text-align: center;
    color: white;
}

.title {
    font-size: 4em;
    letter-spacing: 10px;
    font-family: sans-serif;
    margin: 40px auto;
    text-shadow: 2px 2px 4px #000000;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    margin: 0 300px;
    background-color: var(--background-color);
}

.category-link {
    background-color: var(--style-blue);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    border: 2px solid #000;
    margin: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.category-link:hover {
    background-color: var(--marked-blue);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25), 0 7px 10px -5px rgba(0, 0, 0, 0.3);
}

/* Code-Snippet-Function */

#fixed-button-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.fixed-button {
    position: fixed;
    top: 80%;
    right: 0;
    transform: translateY(-70%);
    z-index: 9999;
    background-color: var(--style-blue);
    padding: 20px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border-color: var(--marked-blue);
    color: white;
    cursor: pointer;
    transition: right 0.5s ease-in-out;
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.5);
}

.fixed-button:hover {
    text-shadow: 2px 2px 4px #000000;
    background-color: var(--marked-blue);
}

.slide-in {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 79.7%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--style-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease-in-out;
    overflow: hidden;
    border-top-left-radius: 20px;
}

.slide-in p {
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#fixed-button-checkbox:checked~.slide-in {
    right: 0;
}

#fixed-button-checkbox:checked~.slide-in p {
    opacity: 1;
}

#fixed-button-checkbox:checked~.fixed-button {
    right: 500px;
}

.code-snippet {
    position: relative;
    margin: 50px;
    background-color: var(--background-image-color);
    color: white;
    height: calc(100% - 250px);
    overflow-y: auto;
}

.code-explanation {
    position: relative;
    margin: 30px;
    color: white;
    height: calc(100% - 250px);
    overflow-y: auto;
}

/* Start-page */

.introduction-code {
    margin: 30px;
}

.introduction {
    background-color: var(--background-color);
    margin: 0 300px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0%;
}

/* about-us-page */

.about-us {
    background-color: var(--background-color);
    margin: 0 300px;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0%;
}

/* Footer */

footer {
    background-color: var(--style-blue);
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-column {
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list li {
    margin-bottom: 10px;
}

.footer-list a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-bottom-item {
    justify-content: center;
}

.footer-text-left {
    text-align: left;
}

.footer-text-center {
    text-align: center;
}

.footer-text-right {
    text-align: right;
}

/* Scaling-on-other-Devices */

@media (max-width: 768px) {

    .logo-container,
    .categories,
    .introduction {
        margin: 0 20px;
    }

    .blue-box {
        width: 50%;
        height: 55%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .slide-in {
        right: -300px;
        width: 300px;
    }
    #fixed-button-checkbox:checked~.fixed-button {
        right: 300px;
    }

    body,
    html {
        overflow-x: hidden;
    }


    .title {
        font-size: 2em;
    }

    .category-link {
        padding: 5px 10px;
        font-size: 14px;
    }

    /* Starting-page */

    .introduction {
        font-size: 16px;
    }

    /* about-us-page */

    .about-us {
        font-size: 16px;
    }

    .footer-column {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .logo-container,
    .categories,
    .introduction {
        margin: 0 50px;
    }

    .blue-box {
        width: 40%;
    }

    .title {
        font-size: 3em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    body,
    html {
        overflow-x: hidden;
    }


    .category-link {
        padding: 7px 15px;
        font-size: 15px;
    }

    .introduction {
        font-size: 17px;
    }

    .footer-column {
        width: calc(50% - 20px);
    }
}
